body {
	font-family: "ROBOTO";
}

 .content {
	text-align: center;
}


#about  {
	background: #1d4f7be8;
	text-align: right;
    min-height: 100vh;
}

 .socials a {
	font-size: 20px;
	text-align: right;
	color: #000;
	font-size: 2.5em;
	padding: 10px;
	transition: all 0.5s linear;
}
.fa {
	color: white;
	margin-top: 30px;
}

 .socials a:hover .fa{
	color: black;
} 


.card {
     
     background: #49719c;
     margin: 15px auto;
     padding: 20px;
}


.card {
     border-radius: 20px;
     border: 2px solid black;
     background: #fff;
     margin: 20px 20px;
     padding-left: 25px;
     padding-right: 25px;
     padding-bottom: 10px ;
     width: auto;
}

#about {

	padding-top: 200px;
	padding-bottom: 200px;
	 min-height: 100vh;
    padding-top:50px;
    padding-bottom: 50px;
    
}


#skills {
	background: #c2c7cf;
	padding-top: 50px;
	
    min-height: 70vh;
}

.nav-item{
	font-size: 25px;
}

.navbar-brand {
     font-size: 25px;
     padding-left: 10px;	
}

h1 {
	font-size: 60px;
	padding-right: 10px;
	color: white;
	text-align: center;
	margin-top: 0;
	padding-top: 0;

}
h3 {
	
	color: white;
}

.card-header {
    font-size: 40px;
    text-align:center;
    color: black;
}

.card {
	width: 400px;
	background: #3949AB;
	border-color: black;

}

.card-text {
	font-size: 25px;

}

#education {
	background: #c2c7cf;
    min-height: 700px;
    padding-top: 50px;
    padding-bottom: 70px;
}

#projects {
	background: #1d4f7be8;
    min-height: 150vh;
    padding-top: 50px;
    padding-bottom: 70px;
}
.contact2 {
    font-size: 20px;
	text-align: left;
	color: #000;
	font-size: 2.5em;
	padding-bottom: 20px;
	transition: all 0.5s linear;	
}

#contact {
	background: #1d4f7be8;
    min-height: 40vh;
    padding-top: 50px;
    padding-bottom: 70px;
}

.developed {
	padding-top: 15px;
	text-align: center;
	min-height: 7vh;
	font-size: 30px;
	padding-bottom: 15px;
	background: #c2c7cf;
}
p {
	padding-top: 40px;
	text-align: center;
	font-size: 40px;
	color: white;
}



.sectionHeading {
	font-size: 85px;
	margin: 0 auto;
	margin-bottom: 50px;
	color: Black;
}

#skills {
	padding-top: 50px;
    padding-bottom: 70px;
}

.nav-link {
	padding-right: 100px;
}

.left{
  margin-left: 150px;
}
.right{
  margin-right: 150px;
}

.contact2{
	font-size: 30px;
}



.socials a{
	font-size: 50px;
} 
.contact2 .fa {
	font-size: 50px;
}
.card2 {
	border-radius: 15px;
	border: 2px solid black;
}

